.navbar {
    background-color: var(--color-cream);
    box-shadow: 0 2px 10px rgba(127, 111, 103, 0.1);
    margin-top: 10px;
    /* kasih jarak kecil biar ga terlalu nempel */
    padding: 8px 15px;
    border-radius: 12px;
}

/* Kurangi margin atas page-header */
.page-header {
    margin-top: 10px !important;
}


.navbar-brand {
    font-weight: 800;
    color: var(--color-brown) !important;
    font-size: 1.8rem;

}

.nav-link {
    color: var(--color-dark-brown) !important;
    font-weight: 600;
    margin: 0 8px;
    transition: all 0.3s;
}

.nav-link:hover {
    color: var(--color-brown) !important;
    transform: translateY(-2px);
}